body {
    background: lightgrey;
}

main{
    margin: auto;
    text-align: center;
    width: 400px;
    min-height: 400px;
}
input, button {
    font-size: 25px;
    width: 350px;height: 35px;
}
#search-button{
    width: 358px;
    background: yellow;
    transition: .3s linear;
}
#search-button:hover{
    background: rgb(64, 91, 4);
    color: white;
}

#create{
    background: green;
    color: wheat;
    width: 358px;
    margin-bottom: 10px;
    transition: .3s linear;
}

#create:hover{
    background: rgb(93, 135, 7);
    transition: all .3s linear;
}

.delete-user-button, .edit-user-button{
    width: 70px;
    height: 25px;
    background: #e6eeab;
    transition: all .3s linear;
    font-size: 15px;
    margin-bottom: 5px;
}
.delete-user-button:hover, .edit-user-button:hover{
    background: yellowgreen;
    font-size: 16px;
}
.user-card{
    margin: 5px 0;
    margin: auto;
    width: 357px;
    min-height: 50px;
    background: burlywood;
    border: 2px solid grey;
}

input {
    outline: none;
}